h1 {
     color: yellow;
     height: 80px;
     background-color: blue;
     line-height: 50px;
     text-align: center;
}

p.footer {
     color: yellow;
     height: 30px;
     background-color: blue;
     line-height: 30px;
     text-align: center;
}

.product {
     border: 1px solid black;
}

div.show{
     border: 1px solid gray;
     text-align: center;
}